body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
}

.todo-logo {
    font-size: 25px;
}

.header {
    background-color: white;
    color: white;
    padding: 1px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    margin: 0;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.header a:hover {
    background-color: lightblue;
    color: red;
}

.container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
}

.container h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}